/* ===========FONT IMPORT============== */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Source+Code+Pro:ital@0;1&display=swap');

/* ===========FONT IMPORT END============== */

/* =======================COMMON CSS START=================*/
body{
    background: #006769;
    
} 
/* ========================COMMON CSS END================ */

/* ================LOGIN CSS START============== */

.row{
    display: flex;
}
.loginImage img{
    margin-left: 100px;
    margin-top: 90px;
}

.loginForm {
    padding-left: 100px;
    padding-top: 100px;
}

.loginForm h1{
    text-align: center;
    font-family: "Montserrat", sans-serif;
    color: white;
    margin-bottom: 20px;
}

.loginForm h1 span{
    display: block;
}

.loginForm .logo{
    width: 30%;
    margin-left: 180px;
    margin-bottom: 20px;
}

.loginForm .phoneNb, .pass{
    margin-left: 150px;
}

.loginForm label{
    font-size: 12px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    color: white;
}
.loginForm #phone, #pin{
    width: 60%;
    display: block;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
    font-weight: 300;
    font-family: "Montserrat", sans-serif;
}

.loginForm .pass{
    margin-top: 10px;
}

.loginForm button{
    padding: 10px;
    width: 230px;
    margin-top: 50px;
    margin-left: 150px;
    background: #9DDE8B !important;
    border: none;
    border-radius: 10px;
    color: black;
    font-size: 12px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    transition: all linear 0.3s;
}

.loginForm button:hover{
    background: white !important;
}

.error{
    text-align: center;
    margin-top: 20px;
    font-size: 15px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    color: rgb(255, 122, 122);

}

/* .loginPage{
    display: none;
} */
.homepage{
    display: none;
}

/* ================LOGIN CSS END============== */

/* ================NAVBAR CSS START============== */
.navbar{
    background:none !important;
}

.navbar img{
    width: 40%;
}

.navbar ul li a{
    color: white !important;
    transform: scale(1);
    transition: all linear 0.3s;
}

.navbar ul li a:hover{
    transform: scale(1.1);
    color: #9DDE8B !important;
}



/* ==================NAVBAR CSS END============== */

/* ==================BANNER CSS START============== */

.banner{
    background: white;
    width: 100%;
    height: 473px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.banner img{
    position: absolute;
    margin-left: 1000px;
    margin-top: 50px;
}

.bannertext{
    padding-top: 100px;
    /* padding-left: 150px; */
    font-family: "Montserrat", sans-serif;
    color: #006769;
}

.bannertext h1{
    width: 500px;
    font-size: 52px;
    font-weight: 700;
}

.bannertext h3{
    margin-top: 10px;
}

.bannertext h5{
    width: 650px;
    margin-top: 15px;
}

/* ==================BANNER CSS END============== */

/* ==================BALANCE CSS START============== */
.balanceText{
    text-align: center;
    align-items: center;
    margin-top: 80px;
}

.balanceText h3, .sendMoney h3, .rechargeAccount h3, .transactionHistory h3{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color:#9DDE8B;
}

.balanceText h2{
    margin-top: 20px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    color: white;
}
/* ==================BALANCE CSS END============== */

/* ==================TRANSACTION CSS START============== */
.transactions{
    display: flex;
    margin-top: 50px;
}

.sendMoney, .rechargeAccount{
    margin-left: 180px;

}

.transactions label{
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: white;

}

.transactions input{
    width: 260px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;  
    border: none;
    border-radius: 5px;
    padding: 10px;
}

.transaction button{
    padding: 10px;
    width: 150px;
    margin-top: 20px;
    margin-left:50px;
    background: #9DDE8B !important;
    border: none;
    border-radius: 10px;
    color: black;
    font-size: 12px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    transition: all linear 0.3s;
}

/* ==================TRANSACTION CSS END============== */

/* ==================TRANSACTION HISTORY CSS START============== */
.transactionHistory{
    margin-top: 50px;
    text-align: center;
}
/* ==================TRANSACTION HISTORY CSS END============== */

/* ==================FOOTER CSS START============== */

.card{
    margin-top: 100px;
}

.card .btn{
    font-family: "Montserrat", sans-serif;
    padding: 15px;  
    border: none;
    background: #006769 !important;

}


/* ==================FOOTER CSS END============== */

